<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login | Quiz APP </title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>
    <body class="login-page">
        <div class="login-wrapper">
            <h1 class="login-title"> Welcome to the Quiz</h1>
            <p class="login-subtitle"> Enter your name to begin your ultimate journey!</p>
            <form method="POST" action="/">
                <input type="text" id="username" name="username" placeholder="Your Name" required>
                <button type="submit" class="login-button"> Start Quiz </button>
            </form>
        </div>
    </body>
</html>