<html>
    <head>
        <meta charset="UTF-8">
        <title>Quiz | Quiz APP </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script src="url_for('static', filename='quiz.js')"></script>
    </head>
    <body class="quiz-page">
        <div class="quiz-container">
            <h2> Hey {{session['username'] }} !! Ready to test you Brain? JEE Mains Question </h2>
            <form id="quizForm" method="POST" action="/quiz" onsubmit="return confirmSubmit()">
                <div class="question">
                    <p> If y = y (x) is the solution of the differential equation x +2y = x2 satisfying y (1) = 1, then 16 y (1/2) is equal to? </p>
                    <label><input type="radio" name="q1" value="A"> A. 35</label><br>
                    <label><input type="radio" name="q1" value="B"> B. 49 </label><br>
                    <label><input type="radio" name="q1" value="C"> C. 40 </label><br>
                    <label><input type="radio" name="q1" value="D"> D. 15 </label>
                </div>

                <div class="question">
                    <p>The binding energy of deuteron (1H2) is 1.15 MeV per nucleon and an alpha particle ( 2He4 ) has a binding energy of 7.1 MeV per nucleon. Then in the reaction 1H2 + 1H2 → 2He4 + Q. The energy Q released in MeV is:  </p>
                    <label><input type="radio" name="q2" value="A"> A. 35.3</label><br>
                    <label><input type="radio" name="q2" value="B"> B. 49.1 </label><br>
                    <label><input type="radio" name="q2" value="C"> C. 23.8 </label><br>
                    <label><input type="radio" name="q2" value="D"> D. 15.7 </label>
                </div>

                <div class="question">
                    <p> The number of monochlorinated products obtained on the chlorination of 2-methylbutane is:  </p>
                    <label><input type="radio" name="q3" value="A"> A. 3</label><br>
                    <label><input type="radio" name="q3" value="B"> B. 0  </label><br>
                    <label><input type="radio" name="q3" value="C"> C. 2 </label><br>
                    <label><input type="radio" name="q3" value="D"> D. 4 </label>
                </div>

                <div class="question">
                    <p> Let a1, a2, a3,...be an A.P., S = ∑ai and T=∑a2i-1. If a7=37, and S-2T=75, then a15 is equal to____. i=1 i=1:   </p>
                    <label><input type="radio" name="q4" value="A"> A. 77</label><br>
                    <label><input type="radio" name="q4" value="B"> B. 23  </label><br>
                    <label><input type="radio" name="q4" value="C"> C. 69 </label><br>
                    <label><input type="radio" name="q4" value="D"> D. 90 </label>
                </div>

                <div class="question">
                    <p>The sun's disc subtends an angle of 10-2 rad at the earth. The radius of curvature (in metres) of the mirror that will produce on a screen an image of the sun 2 cm in diameter is:   </p>
                    <label><input type="radio" name="q5" value="A"> A. 4</label><br>
                    <label><input type="radio" name="q5" value="B"> B. 3  </label><br>
                    <label><input type="radio" name="q5" value="C"> C. 15 </label><br>
                    <label><input type="radio" name="q5" value="D"> D. 10 </label>
                </div>                

                <div class="question">
                    <p>50mL of 0.5M Oxalic Acid is needed to neutralize 25mL of sodium hydroxide solution. The amount of NaOH in 50mL of the given sodium hydroxide solution is:   </p>
                    <label><input type="radio" name="q6" value="A"> A. 3</label><br>
                    <label><input type="radio" name="q6" value="B"> B. 6  </label><br>
                    <label><input type="radio" name="q6" value="C"> C. 2 </label><br>
                    <label><input type="radio" name="q6" value="D"> D. 10 </label>
                </div>

                <div class="question">
                    <p>Let α and β be two roots of the equation x 2 +2x+2=0, then α 15+β 15 is equal to:   </p>
                    <label><input type="radio" name="q7" value="A"> A. 100</label><br>
                    <label><input type="radio" name="q7" value="B"> B. 206  </label><br>
                    <label><input type="radio" name="q7" value="C"> C. 245 </label><br>
                    <label><input type="radio" name="q7" value="D"> D. 256 </label>
                </div>

                <div class="question">
                    <p>A particle moves in the x-y plane under the influence of a force such that the linear momentum Is P(t) = A [ î cos kt - ĵ sin kt ] where A and k are constants. The angle in degrees between force and momentum is:   </p>
                    <label><input type="radio" name="q8" value="A"> A. 180</label><br>
                    <label><input type="radio" name="q8" value="B"> B. 90  </label><br>
                    <label><input type="radio" name="q8" value="C"> C. 45 </label><br>
                    <label><input type="radio" name="q8" value="D"> D. 0 </label>
                </div>

                <div class="question">
                    <p>The hardness of a water sample (in terms of equivalents of CaCO3) containing 10–3M CaSO4 is : (molar mass of CaSO4 = 136g/mol).   </p>
                    <label><input type="radio" name="q9" value="A"> A. 130ppm</label><br>
                    <label><input type="radio" name="q9" value="B"> B. 90ppm  </label><br>
                    <label><input type="radio" name="q9" value="C"> C. 100ppm </label><br>
                    <label><input type="radio" name="q9" value="D"> D. 123ppm </label>
                </div>

                <div class="question">
                    <p>If a = i - j , b = i+j+k and c be a vector such that a x c + b = o and a.c= 4, then IcI 2 is equal to:   </p>
                    <label><input type="radio" name="q10" value="A"> A. 9.5</label><br>
                    <label><input type="radio" name="q10" value="B"> B. 9  </label><br>
                    <label><input type="radio" name="q10" value="C"> C. 8.5</label><br>
                    <label><input type="radio" name="q10" value="D"> D. 8 </label>
                </div>

                <button type="submit"> Submit Answers</button>
            </form>
        </div>
        <script>
            function confirmSubmit(){
                return confirm('Do you wish to continue?')
            }
        </script>
    </body>
</html>