<html>
    <head>
        <meta charset="UTF-8">
        <title> Atomic elements explorer </title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>
    <body class="atom-bg">
        <div class="orbit-scene">
            <div class="nucleus"></div>
            <div class="orbit orbit1">
                <div class="rotator">
                    <div class="electron electron1"></div>
                </div>
            </div>
            <div class="orbit orbit2">
                <div class="rotator">
                    <div class="electron electron2"></div>
                </div>
            </div>
        </div>

        <div class="overlay">
            <h1 class="home-quote"> <strong><em>"The more I study science, the more I believe in God."
            <sub>- Albert Einstein</sub></em> </strong></h1>
        <a href="/periodic_table" class="enter-btn"> Enter the periodic table </a>
        </div>
    </body>
</html>